body {
	background-color: black;
}

h1 {
	color: white;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

a {
	color: white;
}

label {
	color: white;
}

#search-results {
	padding-top: 1em;
	display: flex;
	flex-direction: column;
}

hr {
	margin-left: 0;
	margin-right: 0;
	margin-top: 1em;
	margin-bottom: 1em;
	align-self: stretch;
}

#search-result-error {
	color: red;
}

#search-settings-result {
	color: green;
}

#settings {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.search-result {
	display: grid;
	grid-template-columns: repeat(2, auto);
	justify-content: start;
}

#original-title {
	font-weight: bold;
}

#release-date {
	color: gray;
}

#poster {
	width: 120px;
	height: 180px;
	margin-right: 1em;
	border-style: solid;
	border-color: gray;
	grid-row: span 2;
}
