body {
	background-color: black;
}

h1 {
	color: white;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

a {
	color: white;
}

label {
	color: white;
}

#search-results {
	padding-top: 1em;
	display: flex;
	flex-direction: column;
}

img {
	width: 120px;
	height: 180px;
	margin-right: 1em;
}

.search-result {
	display: flex;
}

hr {
	margin-left: 0;
	margin-right: 0;
	margin-top: 1em;
	margin-bottom: 1em;
	align-self: stretch;
}

#search-result-error {
	color: red;
}
